@inject HttpClient Http

<u1 "class=list-unstyled">
    @foreach (var flight in Flights)
    {
        <div class= "media-img_wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@flight.ImageUrl" atl="@flight.Destination" />
                </a>
        </div>
        <div class="media-body">
            <a href="#">
                <h4 class="mb-0">@flight.Destination</h4>
                 </a>
            <p>@flight.Details</p>
            <h5 class="price">
                €@flight.Price
            </h5>
        </div>
    }

</u1>


@code {
    private static List<Flight> Flights { get; set; } = new List<Flight>();

    protected override async Task OnInitializedAsync()
    {
        Flights = await Http.GetFromJsonAsync<List<Flight>>("api/Flight");
    }
}
