@inject IFlightService FlightService

@if(FlightService.Flights == null || FlightService.Flights.Count == 0)
{
    <span> Loading Flights...</span>
}
else
{

<u1 class="list-unstyled">
    @foreach (var flight in FlightService.Flights)
    {
        <li class="media my-3">
            <div class= "media-img_wrapper mr-2">
                    <a href="/flight/@flight.Number">
                        <img class="media-img" src="@flight.ImageUrl" atl="@flight.Destination" />
                    </a>
                 </div>
                 <div class="media-body">
                    <a href="/flight/@flight.Number">
                         <h4 class="mb-0">@flight.Destination</h4>
                    </a>
                <p>@flight.Details</p>
                <h5 class="price">
                    €@flight.Price
                </h5>
            </div>
        </li>
    }

</u1>
}


@code {


    protected override async Task OnInitializedAsync()
    {
        await FlightService.GetFlights();
    }
}
