.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;

}

.media.img:hover {
    transform: scale(1.1);
}


.media-img-wrapper {
    width: 200px;
    text-align: center;

}

@media (max-width: 1023.98 px) {
    .media {
        flex-direction: column;
    }
    .media-img-wrapper {
        width: 100%;
        height: auto;

    }
}

@media (max-width: 768px) {
    .filter-section label {
        display: block;
        margin-top: 5px;
    }

    .filter-section .form-control,
    .filter-section .form-range {
        margin-bottom: 10px;
    }

    .filter-section button {
        width: 100%;
    }
}

.media-img_wrapper {
    flex-shrink: 0;
        /* Prevents the image wrapper from shrinking if the content overflows. */
}

.media-body h4 {
    font-size: 1.2rem; /* Adjust according to preference */
}

.media-body p {
    font-size: 0.9rem; /* Adjust according to preference */
}

.price {
    font-size: 1.1rem; /* Adjust according to preference */
}
.flight-image {
    width: 140px; /* set a specific width */
    height: 100px; /* set a specific height */
    object-fit: contain; /* ensures that the image retains its aspect ratio */
    display: block; /* to remove bottom space/line that sometimes appear under images */
    margin: auto; /* to center the image in its container */
}
