@inject NavigationManager NavigationManager
@inject IFlightService FlightService

<div class="input-group">
           <input  @bind-value="searchText"
                   @bind-value:event="oninput"
                   type="search"
                   list="flights"
                   @onkeyup="HandleSearch"
                   class="form-control"
                   placeholder="Search..."
                   @ref="searchInput"/>
            <datalist id="flights">
        @foreach (var suggestion in suggestions)
        {
            <option>@suggestion</option>
        }
    </datalist>
    <div class="input-group-append">
        <button class="btn btn-primary" @onclick="SearchFlights">
            <span class="oi oi-magnifying-glass"></span>
        </button>
     </div>
</div>


@code {
    private string searchText = string.Empty;
    private List<string> suggestions = new List<string>();
    protected ElementReference searchInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }
    public void SearchFlights()
    {
        NavigationManager.NavigateTo($"search/{searchText}");
    }

    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if(args.Key == null || args.Key.Equals("Enter"))
        {
            SearchFlights();
        }
        else if(searchText.Length > 1)
        {
            suggestions = await FlightService.GetFlightSearchSuggestions(searchText);
        }
    }

}
